
.slider {
    --transparent-padding-vp: 30px;
    --width-card: 255px;
    --slider-gap: 30px;
    --slider-count-card: 4;
    position: relative;
    z-index: 1;
}

.slider__wrap-viewport {

    min-height: 355px;
    margin: 0 auto;
    padding: 0; 
    overflow: hidden;
}

.slider__viewport {
    height: 100%;
    position: relative;
    min-height: 50px;
    border:var(--transparent-padding-vp)  solid transparent;

    @include tablet {
        border: 33px solid transparent;
    }
}

.slider__viewport-hide {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(var(--slider-count-card), 1fr);
    gap: var(--slider-gap);

    width: 100%;
    height: 100%;
}

.slider__line {
    display: grid;
    gap: var(--slider-gap);
    grid-auto-flow: column;
    height: 100%;
    transition: all 0.7s ease;
}

.slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: var(--width-card);

    & * {
        user-select: none;
    }
}

.slider__btn-svg {
    fill: var(--color-main-light);
}

.slider__btn {
    position: absolute;
    top: 40%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease;
    border: 1px solid var(--color-main-light);
    background-color: transparent;

    z-index: 1;

    &-left {
        left: 3%;
        transform: translateY(-50%);
    }

    &-right {
        right: 3%;
        transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
        background: var(--color-main-light);
    }

    &:hover .slider__btn-svg {
        fill: #fff;
    }

    &:active {
        background: var(--color-main);
        border-color: var(--color-main);
    }

    &:focus {
        outline: none;
    }
}

//--- dots ---

.slider__dot-list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    //--------------------
    display: inline-flex;
    height: 30px;
    align-items: end;
    margin: 20px auto;
}

.slider__dot-wrap {
    display: flex;
    align-items: end;
    height: 100%;
    padding: 0 5px;
}

.slider__dot {
    height: 50%;
    width: 6px;
    background-color: rgba(140, 50, 19, 0.06);
    border-radius: 25px;
}

.slider__dot--active {
    height: 100%;
    background-color: var(--color-accent-dark);
}

//--- /dots ---

