.m {

    &_b-5 {
        margin-bottom: 5px;
    }

    &_b-10 {
        margin-bottom: 10px;
    }

    &_b-15 {
        margin-bottom: 15px;
    }

    &_b-20 {
        margin-bottom: 20px;
    }

    &_b-30 {

        margin-bottom: 30px;
    }

    &_b-35 {

        margin-bottom: 35px;
    }
}
