.button-round-svg {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &:hover {
        color: var(--color-text-light);
        background-color:var(--color-accent-dark);
    }
    
    &:focus{
        outline: 2px solid  var(--color-accent);
    }
    
    &:active {
        color: var(--color-text-light);
    }

}

.button_them-one {
    color: var(--color-accent-dark);
    border: 1px solid currentColor;
    background-color: transparent;
}

.button_them-one svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    fill: currentColor;
}

