.product {

    --width-radial-gradient: 40%;

    background: radial-gradient(
            ellipse var(--width-radial-gradient) 50% at 0% 97%,
            rgb(132, 190, 81, 0.2) 0%,
            rgb(210, 230, 189, 0) 100%
        ),
        radial-gradient(
            ellipse var(--width-radial-gradient) 50% at 0% 60%,
            rgb(231, 78, 19, 0.1) 0%,
            rgb(231, 78, 19, 0) 100%
        ),
        radial-gradient(
            ellipse var(--width-radial-gradient) 50% at 100% 20%,
            rgb(231, 78, 19, 0.1) 0%,
            rgb(231, 78, 19, 0) 100%
        ),
        radial-gradient(
            ellipse var(--width-radial-gradient) 50% at 100% 97%,
            rgb(132, 190, 81, 0.2) 0%,
            rgb(210, 230, 189, 0) 100%
        );

    @include phone-l {
        --width-radial-gradient: 20%;
    }


    &__breadcrumbs {
        margin-bottom: 10px;
    }

    &__banner {
        display: flex;
        gap: 30px;
        margin-bottom: 70px;

        @include tablet {
            display: grid;
            margin-bottom: 40px;
        }

    }

    &__slider {
        @include tablet {
            justify-self: center;
        }
    }

    &__banner-title {
        font-size: 35px;
        line-height: 1.2;

        @include tablet {
            font-size: 22px;
        }
    }

    &__price-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    &__stock {
        color: var(--color-main);
    }

    &__info-block {
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 20px;
        background-color: var(--color-bg-alpha);
        padding: 10px;
        margin-bottom: 50px;

        @include desktop {
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr;
        }

        @include tablet {
            margin-bottom: 15px;
        }
    }

    &__manufacture-payment-block {
        padding: 10px;
    }

    &__manufacture-block {
        margin-bottom: 30px;

        @include tablet {
            margin-bottom: 15px;
        }
    }

    &__delivery-buy {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px 30px;

        @include desktop {
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 10px;
        }
    }

    &__delivery-text {
        margin-bottom: 16px;
    }

    &__btn-call {

        @include phone {
            min-width: 100%;
        }
    }

    /* --- */

    &__total-buy-block {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__total-block {
        display: grid;
        grid-template-columns: max-content;
    }

    &__total-price {
        font-weight: 700;
        font-size: 25px;
        color: var(--color-main-light);
    }

    &__total-text {
        font-size: 14px;
    }

    &__buy-block {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        align-items: center;
        gap: 20px;

        @include phone-l {
            gap: 10px;
            width: 100%;
            grid-template-columns: 1fr max-content max-content;

        }
    }

    &__btn-buy {
        @include phone-l {
            min-width: 140px;
        }
    }

    /* --- */
    &__desc-item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        margin-bottom: 10px;
    }

    /* --- */
    &__tabs {}

    &__tabs-btn {
        max-width: 220px;
        min-height: 44px;
        min-width: 134px;
        width: 100%;
        padding: 5px 10px;
        transition : all .5s ease;
        border-radius: 20px 20px 0 0;
        
        font-weight: 700;
        font-size: 20px;
        text-align: center;
    }

    &__tabs-btn_active {
        color: var(--color-text-light);
        background-color: var(--color-main);
    }

    &__tabs-content {
        padding: 40px;
        border-radius: 0 20px 20px 20px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
        background: var(--color-bg-alpha);
        margin-bottom: 120px;
    }

}
